#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [9]:
import pandas as pd

In [23]:
ventas_diarias = pd.Series ({"Lunes": 100, "Martes": 150,  "Miercoles": 200, "Jueves": 50, "Viernes": 300})
print(ventas_diarias)

Lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64

In [25]:
print(ventas_diarias["Miercoles"])

200

In [33]:
Ventas_totales = ventas_diarias.sum()
print(Ventas_totales)

800

In [35]:
condicion = (ventas_diarias[ventas_diarias> 100])
print(condicion)

Martes       150
Miercoles    200
Viernes      300
dtype: int64

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [27]:
data = {'Nombre': ['Ana', 'Luis', 'María'], 'Edad': [23, 35, 29]}
Personas = pd.DataFrame(data)
print(Personas)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  María    29

In [40]:
print(Personas["Nombre"])

0      Ana
1     Luis
2    María
Name: Nombre, dtype: object

In [41]:
condicion_2 = (Personas[Personas['Edad'] > 25])
print(condicion_2)

  Nombre  Edad
1   Luis    35
2  María    29

In [43]:
Personas["Salario"] = [30000, 45000, 35000]
print(Personas)

  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  María    29    35000

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [54]:
data_2 = {'Productos': ['Laptop', 'Mouse', 'Teclado'], 'Ventas': [30, 120, 75], "Precio_unidad": [1000, 50, 80]}
Ventas_productos = pd.DataFrame(data_2)
print(Ventas_productos)

  Productos  Ventas  Precio_unidad
0    Laptop      30           1000
1     Mouse     120             50
2   Teclado      75             80

In [60]:
VentaXProd = print(Ventas_productos["Ventas"] *Ventas_productos["Precio_unidad"])

0    30000
1     6000
2     6000
dtype: int64

In [62]:
Ventas_productos["VentaXProd"] = [30000, 6000,6000]
print(Ventas_productos)

  Productos  Ventas  Precio_unidad  VentaXProd
0    Laptop      30           1000       30000
1     Mouse     120             50        6000
2   Teclado      75             80        6000

In [77]:
Venta_Total = Ventas_productos["VentaXProd"].sum()
Venta_Total

np.int64(42000)

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.