#### **Ejercicio 1: Creación y manipulación de Series**
1. Crea una Serie que contenga las ventas de una tienda de lunes a viernes. Utiliza las siguientes cantidades:
   - Lunes: 100
   - Martes: 150
   - Miércoles: 200
   - Jueves: 50
   - Viernes: 300
   
2. Realiza las siguientes operaciones sobre la Serie:
   - Accede al valor de las ventas del miércoles.
   - Calcula el total de ventas de la semana.
   - Filtra los días donde las ventas fueron mayores a 100.

In [51]:
import pandas as pd

mi_serie=pd.Series({'Lunes': 100,'Martes': 150,'Miercoles':200,'Jueves':50,'Viernes':300})
print(mi_serie)

Lunes        100
Martes       150
Miercoles    200
Jueves        50
Viernes      300
dtype: int64

In [52]:
print(mi_serie['Miercoles'])

200

In [53]:
print(mi_serie.sum())

800

In [54]:
print(mi_serie[mi_serie>100])

Martes       150
Miercoles    200
Viernes      300
dtype: int64

#### **Ejercicio 2: Creación y análisis de un DataFrame**
1. Crea un DataFrame que contenga los nombres y edades de las siguientes personas:
   - Ana, 23 años
   - Luis, 35 años
   - María, 29 años
   
2. Realiza las siguientes operaciones sobre el DataFrame:
   - Accede a la columna de los nombres.
   - Filtra las filas donde la edad sea mayor a 25.
   - Agrega una nueva columna con los salarios de las personas (Ana: 30000, Luis: 45000, María: 35000).

In [55]:
data = {'Nombre':['Ana','Luis','Maria'],'Edad':[23,35,29]}

In [56]:
al = pd.DataFrame(data)
print(al)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  Maria    29

In [57]:
print(al['Nombre'])

0      Ana
1     Luis
2    Maria
Name: Nombre, dtype: object

In [58]:
print(al[al['Edad']>25])

  Nombre  Edad
1   Luis    35
2  Maria    29

In [59]:
al['Salario']=[30000,45000,35000]
print(al)

  Nombre  Edad  Salario
0    Ana    23    30000
1   Luis    35    45000
2  Maria    29    35000

#### **Ejercicio 3: Cálculos con DataFrames**
1. Crea un DataFrame con información de ventas de productos en una tienda:
   - Productos: "Laptop", "Mouse", "Teclado"
   - Ventas: 30, 120, 75
   - Precio por unidad: 1000, 50, 80

2. Calcula:
   - La venta total para cada producto (multiplicando el precio por unidad por las ventas).
   - El total de ingresos para todos los productos.

In [60]:
data = {'Productos':['Laptop','Mouse','Teclado'],'Ventas':[30,120,75],'Precio por unidad':[1000,50,80]}
al = pd.DataFrame(data)
print(al)

  Productos  Ventas  Precio por unidad
0    Laptop      30               1000
1     Mouse     120                 50
2   Teclado      75                 80

In [61]:
al['Venta total'] = al['Ventas'] * al['Precio por unidad']
print(al)

  Productos  Ventas  Precio por unidad  Venta total
0    Laptop      30               1000        30000
1     Mouse     120                 50         6000
2   Teclado      75                 80         6000

In [62]:
al['total_ventas_general'] = al['Venta total'].sum()

print(al)

  Productos  Ventas  Precio por unidad  Venta total  total_ventas_general
0    Laptop      30               1000        30000                 42000
1     Mouse     120                 50         6000                 42000
2   Teclado      75                 80         6000                 42000

#### **Ejercicio 4: Transformación y limpieza de datos en DataFrames**
1. Crea un DataFrame con información de estudiantes y sus calificaciones en tres materias:
   - Estudiantes: "Ana", "Luis", "María", "Carlos"
   - Matemáticas: 90, 85, None, 78
   - Ciencia: 88, 92, 85, None
   - Historia: 75, None, 80, 90

2. Realiza las siguientes operaciones:
   - Rellena los valores faltantes con la media de cada columna.
   - Renombra las columnas de las materias en inglés (Math, Science, History).
   - Calcula la calificación promedio de cada estudiante.

In [63]:
import pandas as pd
import numpy as np

calificaciones = {'Estudiantes':['Ana','Luis','Maria','Carlos'],
                  'Matematicas':[90,85,None,78],
                  'Ciencia':[88,92,85,None],
                'Historia':[75,None,80,90]}
cal = pd.DataFrame(calificaciones)
print(cal)

  Estudiantes  Matematicas  Ciencia  Historia
0         Ana         90.0     88.0      75.0
1        Luis         85.0     92.0       NaN
2       Maria          NaN     85.0      80.0
3      Carlos         78.0      NaN      90.0

In [67]:
cal['Matematicas'] = cal['Matematicas'].fillna(cal['Matematicas'].mean())
cal['Ciencia'] = cal['Ciencia'].fillna(cal['Ciencia'].mean())
cal['Historia'] = cal['Historia'].fillna(cal['Historia'].mean())

print(cal)

cal['Promedio'] = cal[['Matematicas', 'Ciencia', 'Historia']].mean(axis=1)

cal

  Estudiantes  Matematicas    Ciencia   Historia   Promedio
0         Ana    90.000000  88.000000  75.000000  84.333333
1        Luis    85.000000  92.000000  81.666667  86.222222
2       Maria    84.333333  85.000000  80.000000  83.111111
3      Carlos    78.000000  88.333333  90.000000  85.444444

  Estudiantes  Matematicas    Ciencia   Historia   Promedio
0         Ana    90.000000  88.000000  75.000000  84.333333
1        Luis    85.000000  92.000000  81.666667  86.222222
2       Maria    84.333333  85.000000  80.000000  83.111111
3      Carlos    78.000000  88.333333  90.000000  85.444444