### **Ejercicio 1: Análisis de Rentabilidad de Productos**
Supongamos que eres analista de datos en una empresa de comercio electrónico. Tienes un DataFrame que lista varios productos, sus costos, precios de venta y unidades vendidas durante el último mes. Realiza un análisis para identificar qué productos son más rentables.

- Calcula la ganancia por producto y agrega una columna de rentabilidad
- Ordena los productos por rentabilidad

In [2]:
import pandas as pd

data = {
    'Producto': ['Computadora', 'Tablet', 'Smartphone', 'Auriculares', 'Cargador'],
    'Costo': [500, 300, 200, 50, 20],
    'Precio_venta': [1000, 500, 300, 100, 50],
    'Unidades_vendidas': [30, 50, 70, 100, 150]
}

df_productos = pd.DataFrame(data)
print(df_productos)

      Producto  Costo  Precio_venta  Unidades_vendidas
0  Computadora    500          1000                 30
1       Tablet    300           500                 50
2   Smartphone    200           300                 70
3  Auriculares     50           100                100
4     Cargador     20            50                150

In [5]:
df_productos['Ganancia'] = df_productos['Precio_venta'] - df_productos['Costo']
df_productos

      Producto  Costo  Precio_venta  Unidades_vendidas  Ganancia
0  Computadora    500          1000                 30       500
1       Tablet    300           500                 50       200
2   Smartphone    200           300                 70       100
3  Auriculares     50           100                100        50
4     Cargador     20            50                150        30

In [6]:
df_productos['Rentabilidad'] = df_productos['Ganancia'] / df_productos['Costo']
df_productos

      Producto  Costo  Precio_venta  Unidades_vendidas  Ganancia  Rentabilidad
0  Computadora    500          1000                 30       500      1.000000
1       Tablet    300           500                 50       200      0.666667
2   Smartphone    200           300                 70       100      0.500000
3  Auriculares     50           100                100        50      1.000000
4     Cargador     20            50                150        30      1.500000

In [7]:
df_productos=df_productos.sort_values(by=['Rentabilidad'],ascending=False)
print(df_productos)

      Producto  Costo  Precio_venta  Unidades_vendidas  Ganancia  Rentabilidad
4     Cargador     20            50                150        30      1.500000
0  Computadora    500          1000                 30       500      1.000000
3  Auriculares     50           100                100        50      1.000000
1       Tablet    300           500                 50       200      0.666667
2   Smartphone    200           300                 70       100      0.500000

### **Ejercicio 2: Segmentación de Clientes por Edad y Consumo**
Como analista de marketing en una cadena de tiendas, debes segmentar a los clientes en grupos de edad y analizar sus patrones de gasto para optimizar las campañas de marketing.

- Agrupa los clientes por rangos de edad y calcula el gasto promedio (investiga el método `cut`)

In [8]:
data_clientes = {
    'Cliente': ['Ana', 'Luis', 'María', 'Carlos', 'Josefina'],
    'Edad': [25, 35, 45, 55, 65],
    'Gasto_mensual': [200, 400, 600, 800, 1000]
}

df_clientes = pd.DataFrame(data_clientes)
df_clientes

    Cliente  Edad  Gasto_mensual
0       Ana    25            200
1      Luis    35            400
2     María    45            600
3    Carlos    55            800
4  Josefina    65           1000

In [13]:

bins = [0, 30, 40, 50, 60, 70]  # Definir los límites de los rangos
labels = ['0-30', '31-40', '41-50', '51-60', '61-70']  # Etiquetas para los rangos

# Crear una nueva columna 'Rango_Edad' usando pd.cut()
df_clientes['Rango_Edad'] = pd.cut(df_clientes['Edad'], bins=bins, labels=labels)

# Agrupar por 'Rango_Edad' y calcular el gasto promedio
gasto_promedio = df_clientes.groupby('Rango_Edad')['Gasto_mensual'].mean().reset_index()

gasto_promedio

/var/folders/wc/t36cttgx18d9v12fs7c9bgm80000gn/T/ipykernel_21435/346519099.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  gasto_promedio = df_clientes.groupby('Rango_Edad')['Gasto_mensual'].mean().reset_index()

  Rango_Edad  Gasto_mensual
0       0-30          200.0
1      31-40          400.0
2      41-50          600.0
3      51-60          800.0
4      61-70         1000.0

### **Ejercicio 3: Optimización de Inventarios**
El departamento de operaciones necesita tu ayuda para ajustar los niveles de inventario basados en las ventas anuales y la rotación de productos.

- Calcula la tasa de rotación de inventario

In [12]:
data_inventario = {
    'Producto': ['Laptop', 'Mouse', 'Teclado', 'Monitor'],
    'Inventario_actual': [200, 1500, 800, 150],
    'Ventas_anuales': [600, 1800, 900, 300]
}

df_inventario = pd.DataFrame(data_inventario)

df_inventario

  Producto  Inventario_actual  Ventas_anuales
0   Laptop                200             600
1    Mouse               1500            1800
2  Teclado                800             900
3  Monitor                150             300

In [14]:
df_inventario['Tasa_rotacion'] = df_inventario['Ventas_anuales'] / df_inventario['Inventario_actual']
df_inventario

  Producto  Inventario_actual  Ventas_anuales  Tasa_rotacion
0   Laptop                200             600          3.000
1    Mouse               1500            1800          1.200
2  Teclado                800             900          1.125
3  Monitor                150             300          2.000

### **Ejercicio 4: Evaluación de Campañas de Marketing**
Se te ha proporcionado un DataFrame con los resultados de diferentes campañas de marketing en términos de alcance y conversiones. Analiza la eficacia de cada campaña para determinar cuál ha tenido el mejor rendimiento en términos de ROI (retorno de inversión).

In [ ]:
data_campañas = {
    'Campaña': ['A', 'B', 'C', 'D'],
    'Alcance': [1000, 3000, 2000, 5000],
    'Conversiones': [50, 150, 100, 200],
    'Costo': [500, 1500, 1000, 2500]
}

df_campañas = pd.DataFrame(data_campañas)
df_campañas

### **Ejercicio 6 (Investigación): Uso del método `melt` en Pandas**

**Investiga cómo se utiliza el método `melt` de pandas para transformar DataFrames de un formato ancho a uno largo.** Crea un DataFrame que represente ventas de varios productos en diferentes meses, utiliza `melt` para cambiar su estructura y analiza cómo podría ser útil este formato para comparaciones o visualizaciones posteriores.

In [4]:
data_ventas = {
    'Producto': ['Laptop', 'Smartphone', 'Tablet'],
    'Enero': [100, 150, 200],
    'Febrero': [110, 120, 180]
}

df_ventas = pd.DataFrame(data_ventas)